/* Basic */

a:link {
	color: #656cb9;
	text-decoration: none;
}
a:visited {
	color: #393993;
	text-decoration: none;
}
a:focus,
a:hover {
	color: #7ca7fa;
	text-decoration: underline;
}
a:active {
	color: #0f034e;
	text-decoration: underline;
}
hr {
	height: 1px;
	border: none;
	background: #ccc;
	color: #ccc;
}

/* Header */

header {
	background: #656cb9;
	font-family: Georgia;
	color: white;
}
.cm-admin header {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: right top;
}
header a:link,
header a:visited {
	color: #fff;
	text-decoration: none;
}
.cm-admin header a:link,
.cm-admin header a:visited {
	color: #ccf;
	text-decoration: none;
}
header a:focus,
header a:hover,
.cm-admin header a:focus,
.cm-admin header a:hover {
	color: #ffc;
	text-decoration: none;
}
header a:active,
.cm-admin header a:active {
	color: #ff3;
	text-decoration: none;
}
header .appname {
	font-style: italic;
	font-size: 24px;
}
header .pagename,
header .header-items {
	font-size: 18px;
}
.cm-admin header .header-items {
	right: 40px;
}

/* Navigation */

nav {
	background: #7ca7fa;
	color: white;
}
nav > hr {
	background: #656cb9;
	color: #656cb9;
}
nav > ul {
	font-size: 14px;
	font-weight: bold;
}
nav a:link,
nav a:visited {
	color: #0f034e;
	text-decoration: none;
}
nav .current a:link,
nav .current a:visited {
	color: white;
	text-decoration: none;
}
nav a:focus,
nav a:hover {
	color: #515ead;
	text-decoration: none;
}
nav a:active {
	color: #393993;
	text-decoration: none;
}

/* Content */

article {
	background: #eef;
}

/* Cards */

.card {
	background: white;
	border: gray;
	border-radius: 4px;
	box-shadow: 0 2px 2px gray;
}
.card .card-title {
	font-size: 18px;
	border-bottom: solid 1px #ccc;
}
.card .card-buttons {
	border-top: solid 1px #ccc;
}

/* List Pages */

.cm-search-box {
	background: white;
	border-bottom: gray;
	box-shadow: 0 2px 2px gray;
}
.cm-list-table {
	background: white;
	border: gray;
	border-radius: 4px;
	box-shadow: 0 2px 2px gray;
}
.cm-list-table table thead th {
	background: #5d6fc1;
	color: white;
}
.cm-list-table table thead th:first-child {
	border-top-left-radius: 4px;
}
.cm-list-table table thead th:last-child {
	border-top-right-radius: 4px;
}
.cm-list-table table tbody tr.inactive {
	color: #ccc;
}
.cm-list-table table tbody td,
.cm-list-table table tfoot th {
	border-top: solid 1px #ccc;
}

/* Form Editor Pages */

.cm-form-editor {
	background: white;
	border: gray;
	border-radius: 4px;
	box-shadow: 0 2px 2px gray;
}
.cm-form-editor table .cm-form-editor-static-section,
.cm-form-editor table .cm-form-editor-dynamic-row.inactive {
	color: gray;
}
.cm-form-editor table .cm-form-editor-custom-text-section:hover,
.cm-form-editor table .cm-form-editor-dynamic-row:hover,
.cm-form-editor table .cm-form-editor-dynamic-section-actions tr:hover {
	background: #eef;
}
.cm-form-editor table .cm-form-editor-custom-text-section.editing,
.cm-form-editor table .cm-form-editor-dynamic-row.editing,
.cm-form-editor table .cm-form-editor-row-editor-row {
	background: #ddf;
}
.cm-form-editor table .cm-form-editor-dynamic-row.editing th,
.cm-form-editor table .cm-form-editor-dynamic-row.editing td {
	border-bottom: 2px dashed rgba(0,0,0,0.3);
}

/* Dialogs */

.dialog {
	background: white;
	border: gray;
	border-radius: 4px;
	box-shadow: 0 2px 2px gray;
}
.dialog .dialog-title {
	font-size: 18px;
	border-bottom: solid 1px #ccc;
}
.dialog .dialog-buttons {
	border-top: solid 1px #ccc;
}

/* Registration Page */

.cm-reg-edit .cm-reg-badge-types {
	background: white;
	border: solid 1px #ccc;
}