/* Header */

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #656cb9;
	background-image: url(admin-logo-right.png);
	background-repeat: no-repeat;
	background-position: right top;
	color: white;
	font-family: Georgia;
	line-height: 40px;
}
header a:link,
header a:visited {
	color: #ccf;
	text-decoration: none;
}
header a:hover {
	color: #ffc;
	text-decoration: none;
}
header a:active {
	color: #ff3;
	text-decoration: none;
}
header > span {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	line-height: 40px;
}
header > span.appname {
	left: 20px;
	font-style: italic;
	font-size: 24px;
}
header > span.pagename {
	left: 236px;
	font-size: 18px;
}
header > span.username {
	right: 40px;
	font-size: 18px;
}

/* Sidebar */

nav {
	position: absolute;
	top: 40px;
	left: 0;
	width: 220px;
	bottom: 0;
	background-color: #7ca7fa;
	color: white;
	overflow: auto;
}
nav > hr {
	color: #656cb9;
	background-color: #656cb9;
	border: none;
	height: 1px;
}
nav > ul {
	padding: 8px;
	list-style-type: none;
	font-size: 14px;
	font-weight: bold;
}
nav > ul > li {
	margin: 4px 0;
}
nav a:link,
nav a:visited {
	color: #0f034e;
	text-decoration: none;
}
nav .current a:link,
nav .current a:visited {
	color: white;
	text-decoration: none;
}
nav a:hover {
	color: #515ead;
	text-decoration: none;
}
nav a:active {
	color: #393993;
	text-decoration: none;
}

/* Content */

article {
	position: absolute;
	top: 40px;
	left: 220px;
	right: 0;
	bottom: 0;
	background: #eeeeff;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}
article.nonav {
	left: 0;
}

/* Tables */

table.form.entity-record {
	width: 100%;
}
table.form.entity-record > tbody > tr > th {
	width: 240px;
}
table.form > thead > tr > th .subhead {
	font-size: 14px;
	padding: 8px;
	margin: 4px 0;
	background: #eeeeff;
}
table.form > thead > tr > th .subhead.toggle-collapsed,
table.form > thead > tr > th .subhead.toggle-collapsed * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
table.form > thead > tr > th .subhead.toggle-collapsed div {
	float: left;
	width: 12px;
	margin-right: 6px;
	text-align: center;
}

table.entity-list {
	width: 100%;
}
table.entity-list th {
	background: #5d6fc1;
	color: white;
}
table.entity-list th:first-child {
	border-top-left-radius: 4px;
}
table.entity-list th:last-child {
	border-top-right-radius: 4px;
}
table.entity-list td {
	border-top: solid 1px #cccccc;
}
table.entity-list tr.inactive {
	color: #cccccc;
}

/* Cards */

.card.login div,
.card.logout div {
	text-align: center;
}
.card.login table {
	display: inline-table;
}

.search-input {
	float: left;
}
.search-options {
	text-align: right;
}
.search-input-group {
	display: inline-block;
}
.search-input label,
.search-input input,
.search-options label,
.search-options button,
.search-options select {
	margin: 0 3px;
}
.search-options button {
	font-weight: bold;
	font-size: 16px;
	line-height: 13px;
	padding: 3px 6px 5px 6px;
}

.card.entity-list-card {
	overflow-x: auto;
}

/* Form Elements */

.activate-button,
.deactivate-button {
	width: 75px;
}

/* Dialogs */

.dialog-cover {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.dialog {
	position: fixed;
	top: 25%;
	max-height: 50%;
	overflow: auto;
	left: 50%;
	width: 512px;
	margin-left: -256px;
	background: white;
	border: gray;
	border-radius: 4px;
	box-shadow: 0 2px 2px gray;
}
.edit-dialog {
	top: 15%;
	max-height: 80%;
	overflow: auto;
}
.set-attendee-id-dialog {
	width: 920px;
	margin-left: -460px;
}
.dialog-title {
	padding: 8px 16px;
	font-size: 18px;
	border-bottom: solid 1px #cccccc;
}
.dialog-content {
	padding: 16px;
	line-height: 16px;
}
.dialog-buttons {
	padding: 8px;
	border-top: solid 1px #cccccc;
	text-align: right;
}
.dialog-buttons label {
	margin-right: 12px;
}

.butterbar {
	position: fixed;
	top: 0;
	left: 50%;
	width: 512px;
	height: 20px;
	line-height: 20px;
	margin-left: -256px;
	background: #ffffcc;
	border: #999966;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 2px 2px gray;
	text-align: center;
}

/* Miscellaneous */

.nospam {
	display: inline-block;
	width: 12px;
	text-align: center;
}
.nospam-true {
	color: red;
}
.nospam-false {
	color: green;
}
.notification {
	border: solid 1px #999966;
	padding: 8px;
	background: #ffffcc;
	font-weight: bold;
	margin-bottom: 16px;
}

.admin-edit-email p label {
	display: inline-block;
	width: 69px;
	font-weight: bold;
}
.admin-edit-email p input {
	width: 398px;
}
.admin-edit-email p textarea {
	margin-left: 72px;
	width: 400px;
	height: 160px;
}