/* Header */

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 32px;
	background: #656cb9;
	color: white;
	font-family: Georgia;
	font-size: 14px;
	line-height: 32px;
	text-align: right;
}
.header-title {
	float: left;
	margin: 0 16px;
}
.header-item {
	display: inline-block;
	margin: 0 16px;
}
.header-item a,
.header-item a:link,
.header-item a:visited {
	color: #ffffff;
	text-decoration: none;
}
.header-item a:hover {
	color: #ffffcc;
	text-decoration: none;
}
.header-item a:active {
	color: #ffff33;
	text-decoration: none;
}

/* Content */

article {
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #eeeeff;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}
.intro {
	margin: 0 0 20px 0;
}

/* Tables */

table.form > thead > tr > th {
	font-size: 16px;
	padding: 14px 0;
}
table.form > thead:first-child > tr > th {
	padding-top: 0;
}
table.form > thead > tr > td {
	padding: 0 0 14px 0;
}

/* HACK ALERT /!\ HACK ALERT /!\ HACK ALERT /!\ HACK ALERT */
/* Render my table correctly you b--------------t browser! */
table.form {
	width: 100%;
}
table.form > tbody > tr > th {
	white-space: nowrap;
}
table.form > tbody > tr > td {
	width: 100%;
}
/* !resrorb t--------------b uoy yltcerroc elbat ym redneR */
/* TRELA KCAH \!/ TRELA KCAH \!/ TRELA KCAH \!/ TRELA KCAH */

.td-badge-description {
	width: 300px;
	white-space: pre-line;
}

/* Cards */

.card {
	position: relative;
}

/* Form Elements */

.register-button,
.apply-button {
	text-transform: uppercase;
	font-weight: bold;
}

/* Badge Types */

.badge-types {
	position: absolute;
	top: 54px;
	left: 560px;
	right: 16px;
	bottom: 56px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	border: solid 1px #cccccc;
	background: #fafaff;
}
.badge-types table {
	width: 100%;
}
.badge-types th,
.badge-types td {
	padding: 2px 8px;
}
.badge-types thead.badge-types-h th {
	font-size: 18px;
	padding: 8px;
}
.badge-types thead.badge-types-t th {
	font-size: 16px;
	border-top: solid 1px #cccccc;
	padding-top: 8px;
}
.badge-types tbody th {
	width: 120px;
}
.badge-types tbody tr:last-child th,
.badge-types tbody tr:last-child td {
	padding-bottom: 8px;
}
.badge-types .limited {
	color: red;
}

/* Shopping Cart */

table.cart {
	margin-top: 16px;
	width: 100%;
}
table.cart thead th {
	background: #eeeeff;
}
table.cart tbody td {
	border-top: solid 1px #cccccc;
}
table.cart tfoot th {
	border-top: solid 2px #999999;
}

/* Miscellaneous */

.error {
	color: red;
}
table.form .error {
	margin-left: 16px;
}
table.form .error:before {
	content: "\2190 \00A0 \00A0";
}
table.form .error-line {
	display: block;
	margin-left: 7px;
}
table.form .error-line:before {
	content: "\2191 \00A0 \00A0";
}

.error-notification {
	border: solid 1px #996666;
	padding: 8px;
	background: #ffcccc;
	font-weight: bold;
	margin-bottom: 16px;
}
.error-notification h2 {
	margin: 4px 0 8px 0;
}